name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Create Vale Package
        run: zip -r JSONLT.zip styles

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: JSONLT.zip
          generate_release_notes: true
